.search-bar {
  display: flex;
  justify-content: center;
  height: 40px;

  &-text {
    height: 100%;
    background: #fff;
    border-radius: 4px;
    width: 400px;
  }
  &-btn {
    height: 100%;
    margin-left: 12px !important;
    background: #5c374c !important;
  }
}